
.btn {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.5px solid black;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: black;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
}

.search-input {
  width: 60%;
  margin-left: 5px;
}

.header-btn {
  cursor: pointer;
  margin-right: 10px;

}

.header-btn img {
  height: 20px;
}

.header-btn img:hover {
  opacity: 0.5;
}

.header-btn-container {
  display: flex;
}

.add-button {
}

.btn:hover {
  font-weight: 700;
}

.extension-header {
  display: flex;
  justify-content: space-between;
}

.iwillril-table-container {
  width: 500px;
  margin-top: 15px;
}

.item-tr-favicon {
  width: 20px;
}

.item-tr-title {
  width: 440px;
}

.mark-as-read-btn {
  cursor: pointer;
}
.mark-as-read-img {
  height: 20px;
}

.mark-as-read-img:hover {
  opacity: 0.5;
}

.item-tr {
  cursor: pointer
}
.item-tr:hover {
    background-color: #eeeeee;
}

#iwillril_table {
  border-collapse: collapse;
}


.item-link {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.item-link-loading {
  text-decoration: none;
  color: #ccc;
  font-size: 14px;
}

